<nb-flip-card *ngFor="let summoner of summonerList">
    <nb-card-front>
      <nb-card accent="danger">
        <nb-card-header>{{summoner.name}}</nb-card-header>

        <nb-card-body>
          Salt Analysis coming soon..
        </nb-card-body>

        <nb-card-footer>Stats</nb-card-footer>

      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card>
        <nb-card-body>
            More details and plays here
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
